body {
   font-family: 'Lato', sans-serif;
}

* {
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

.app {
   padding: 100px 0;
   min-height: 100%;
   position: relative;
}

.app-container {
   max-width: 1140px;
   margin: 0 auto;
}

button {
   font-family: 'Lato', sans-serif;
   cursor: pointer;
}

.chart-trigger {
   position: absolute;
   top: 50px;
   right: 80px;

   display: flex;
   align-items: center;
   justify-content: center;
   border-radius: 50%;
   width: 40px;
   height: 40px;
   background-color: #7c69ef;
   border: none;
   box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
   animation: pulse-purple 1.5s infinite;
   z-index: 1;
}

.chart-trigger i {
   color: #fff;
}

@keyframes pulse-purple {
   0% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(142, 68, 173, 0.7);
   }

   70% {
      transform: scale(1);
      box-shadow: 0 0 0 10px rgba(142, 68, 173, 0);
   }

   100% {
      transform: scale(0.9);
      box-shadow: 0 0 0 0 rgba(142, 68, 173, 0);
   }
}
